@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman&family=IM+Fell+Double+Pica+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.imagem {
  position: absolute;
  right: 1rem;
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: -10%;
}

.icones {
  position: relative;
  left: 30%;
  max-width: 600px;
  padding-left: 150px;
  padding-top: 50px;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;
}

.icon-menu img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.3s all;
  cursor: pointer;
}

#barra-menu {
  background: #7a30b7dc;
  height: 100vh;
  width: 0px;
}

#barra-menu ul li {
  list-style: none;
  padding: 20px;
}

#barra-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  font-size: 20px;
}

#barra-menu ul li a:hover {
  border: solid 1px #4a206cdc;
  border-radius: 20px;
  background-color: #3d1161dc;
}

.c-icon {
  margin-top: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  overflow: hidden;
}

.c-icon span {
  color: #ffffff;
}

.c-icon span:hover {
  transition: 0.2s;
  transform: 0.5s;
  color: rgb(88, 139, 184);
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-top: 10%;
  flex-wrap: wrap;
}

.main-title h1 {
  font-size: 70px;
  color: black;
  margin-top: 30px;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 2px;
}

.main-title h2 {
  color: #fe002d;
  font-size: 50px;
  font-family: "Hanuman";
  font-weight: bold;
  letter-spacing: 2px;
}

.main-title h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Hanuman";
  letter-spacing: 2px;
  font-weight: 200;
}

.main-title button {
  width: 15%;
  margin-top: 80px;
  padding: 8px 5px;
  font-size: 20px;
  background-color: #fe002d;
  color: #fbf7f7;
  border-radius: 50px;
  font-family: "Playfair";
  cursor: pointer;
  transition-duration: 0.9s;
}

.main-title button:hover {
  border: solid 1px #fff;
  transition: 0.7s;
  background: transparent;
}
