* {
  box-sizing: border-box;
}

body {
  background-color: #f5eeee;
  padding: 0;
  margin: 0;
}

.capa {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 2rem;
}

h1 {
  color: #080808;
  font-size: 90px;
  padding-left: 8%;
}

h2 {
  color: rgb(255, 0, 0);
  font-size: 52px;
  border-color: #000000;
  padding-left: 12%;
}
h3 {
  color: #000000;
  padding-left: 15%;
}

.imagem {
  position: absolute;
  right: 1rem;
  background-repeat: no-repeat;
  z-index: -1;
}

.container-btn {
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 200px;
  height: 50px;
  background: #ff0000;
  border-radius: 1000px;
  padding: 10px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 20px/1 "Open Sans", sans-serif;
  text-align: center;
  position: relative;
  left: 20%;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
}

.btn:hover {
  background-color: #e2cdc5;
  color: #7d3d3b;
}

.listagem {
  position: relative;
  left: 30%;
}

.icones {
  position: relative;
  left: 30%;
  max-width: 600px;
  padding-left: 150px;
  padding-top: 50px;
}

.burguer-container {
  cursor: pointer;
  z-index: 3;
}

.bar1,
.bar2,
.bar3,
.bar4 {
  position: relative;
  left: 30px;
  width: 30px;
  height: 3px;
  background-color: rgb(223, 13, 13);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: #fff;
}

.change .bar2 {
  opacity: 0;
  background-color: #fff;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -7px);
  background-color: #fff;
}
